.barrel_roll {
	-webkit-transition: -webkit-transform 4s ease;
	-webkit-transform: rotate(360deg);
	-moz-transition: -moz-transform 4s ease;
	-moz-transform: rotate(360deg);
	-o-transition: -o-transform 4s ease;
	-o-transform: rotate(360deg);
	transition: transform 4s ease;
	transform: rotate(360deg);
}

.changeDir {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
